<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8"/>
    <title>{% if page.title %} {{ page.title }} |{% endif %} liviamorim.github.io</title>
    <meta name="description" content="Blog sobre desenvolvimento de interfaces">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
  </head>
  <body>

    <header>
      <div class="container">
        <h1>liviamorim.github.io</h1>
        <h2>Desenvolvimento de interfaces e outras coisas</h2>
      </div>
    </header>

    {{ content }}

    <footer>
      <div class="container">
        Criado em Jekyyl com &#10084;
      </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>